EventProgramming_basic/schema/EventDataTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema version="2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.swacorp.com/cargo/event/data/v1"
	xmlns="http://www.swacorp.com/cargo/event/data/v1"
	xmlns:commonDataTypes="http://www.swacorp.com/cargo/common/services/data/v1">

	<xsd:import
		schemaLocation="../common/CommonDataTypes.xsd"
		namespace="http://www.swacorp.com/cargo/common/services/data/v1" />
		
	<xsd:element name="Event">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="header" type="EventHeader" />
				<xsd:element name="payload" type="EventPayload" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:complexType name="EventPayload">
		<xsd:sequence>
				<xsd:element name="key" type="xsd:string" />
				<xsd:element name="value" type="commonDataTypes:Base" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="EventHeader">
		<xsd:sequence>
			<xsd:element name="eventDomain" type="xsd:string" minOccurs="1" />
			<xsd:element name="eventType" type="xsd:string" minOccurs="1" />
			<xsd:element name="eventSubTypes" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="unbounded" />				
			<xsd:element name="eventVersion" type="xsd:string" minOccurs="0" />
			<xsd:element name="eventID" type="xsd:string" minOccurs="1" />
			<xsd:element name="eventCreationSystem" type="xsd:string" minOccurs="0" />
			<xsd:element name="eventCreationSystemInstanceId" type="xsd:long" minOccurs="0" />
			<xsd:element name="eventCreationHost" type="xsd:string" minOccurs="0" />
			<xsd:element name="eventCreatingProcessId" type="xsd:long" minOccurs="0" />
			<xsd:element name="eventCreationTime" type="xsd:dateTime" minOccurs="1" />
			<xsd:element name="eventCorrelationId" type="xsd:long" minOccurs="0" />
			<xsd:element name="entitySequenceNumber" type="xsd:string" minOccurs="0" />
			<xsd:element name="entityUpdateTimeStamp" type="xsd:dateTime" minOccurs="0" />
			<xsd:element name="entityKeys" type="EntityKey" minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="entityAttributes" type="StringAttribute" minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="awbStatusChangedTo" type="xsd:string" minOccurs="1" />
			<xsd:element name="sectionNumberUpdated" type="xsd:string" minOccurs="1" maxOccurs="unbounded" />
			<xsd:element name="reqSectionsModifiedAfterMAN" type="xsd:boolean" default="false"/>
			
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="EntityKey">
		<xsd:sequence>
				<xsd:element name="key" type="xsd:string" />
				<xsd:element name="value" type="xsd:anyType" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="StringAttribute">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="name" type="xsd:string" />
				<xsd:attribute name="type" type="xsd:string" />
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>	

	<xsd:simpleType name="EventDomain">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="CARGOSYSTEM_CAPACITY_MGMT" />
			<xsd:enumeration value="CARGOSYSTEM_FACILITY_MGMT" />
			<xsd:enumeration value="CARGOSYSTEM_HANDLING_TIME" />
			<xsd:enumeration value="CARGOSYTEM_RESTRICTIONS" />
			<xsd:enumeration value="CARGOSYSTEM_ADMIN" />
			<xsd:enumeration value="CARGOSYSTEM_AWB_SHIPMENT" />
			<xsd:enumeration value="CARGOSYSTEM_CUSTOMER_MGMT" />
			<xsd:enumeration value="CARGOSYSTEM_AUDIT" />	
			<xsd:enumeration value="CARGOSYSTEM_CUSTOMS" />
			<xsd:enumeration value="CARGOSYSTEM_HAWB_MGMT" />
			<xsd:enumeration value="CARGOSYSTEM_INTERLINE_SCHEDULES" />
			<xsd:enumeration value="CARGOSYSTEM_RFS_MGMT" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="EventType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="CAPACITY_EVENT" />		
			<xsd:enumeration value="CAPACITY_PARAM_EVENT" />
			<xsd:enumeration value="AWB_SHIPMENT_EVENT" />			
			<xsd:enumeration value="MANAGE_FACILITY_EVENT" />
			<xsd:enumeration value="HANDLING_TIME_EVENT" />
			<xsd:enumeration value="MANAGE_RESTRICTIONS_EVENT" />
			<xsd:enumeration value="REFERENCE_DATA_EVENT" />	
			<xsd:enumeration value="ADMIN_EVENT" />
			<xsd:enumeration value="AWB_NUMBER_EVENT" />
			<xsd:enumeration value="CUSTOMER_MGMT_EVENT" />
			<xsd:enumeration value="CARGO_CUSTOMER_ACCOUNT" />
			<xsd:enumeration value="CARGOSYSTEM_AUDIT_EVENT" />
			<xsd:enumeration value="SVC_LVL_BUCKT_MPG_EVENT" />
			<xsd:enumeration value="COMMODITY_DESC_MAPNG_EVENT" />
			<xsd:enumeration value="CUSTOMS_EVENT" />
			<xsd:enumeration value="CUSTOMS_CARGOXML_EVENT" />
			<xsd:enumeration value="HAWB_EVENT" />
			<xsd:enumeration value="INTERLINE_SCHEDULES_EVENT" />
            <xsd:enumeration value="SCHED_EVENT" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="EventSubType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="CAPACITY_SEGMENTATION_PARAM_ADDED" />
			<xsd:enumeration value="CAPACITY_SEGMENTATION_PARAM_UPDATED" />
			<xsd:enumeration value="CAPACITY_BORROWING_PARAM_ADDED" />
			<xsd:enumeration value="CAPACITY_BORROWING_PARAM_UPDATED" />
			<xsd:enumeration value="CAPACITY_NOVALUE_PARAM_ADDED" />
			<xsd:enumeration value="CAPACITY_NOVALUE_PARAM_UPDATED" />
			<xsd:enumeration value="APPLY_CAPACITY_PARAMETERS" />
			<xsd:enumeration value="FLIGHT_LEG_CAPACITY_UPDATED" />
			<xsd:enumeration value="CARGOFACILITY_UPDATED" />
			<xsd:enumeration value="HANDLING_TIME_UPDATED" />
			<xsd:enumeration value="MANAGE_RESTRICTIONS_UPDATED" />
			<xsd:enumeration value="MANAGE_LIMITATION_UPDATED" />
			<xsd:enumeration value="MANAGE_BOOKING_WINDOW_SETUP" />
			<xsd:enumeration value="AWB_SHIPMENT_ADDED" />
			<xsd:enumeration value="AWB_SHIPMENT_UPDATED" />
			<xsd:enumeration value="AWB_SHIPMENT_CANCELED" />
			<xsd:enumeration value="SHIPMENT_LINE_UPDATED" />
			<xsd:enumeration value="SHIPMENT_LINE_ADDED" />
			<xsd:enumeration value="SHIPMENT_LINE_DELETED" />
			<xsd:enumeration value="LOT_ADDED" />
			<xsd:enumeration value="LOT_UPDATED" />
			<xsd:enumeration value="LOT_DELETED" />
			<xsd:enumeration value="SERVICE_LEVEL_UPDATED" />
			<xsd:enumeration value="AWB_SHIPMENT_VOID" />			
			<xsd:enumeration value="CREATE_GROUP"/>	
			<xsd:enumeration value="CARGO_SCREENING_REFERENCE_DATA_UPDATED" />
			<xsd:enumeration value="SPECIAL_HANDLING_REFERENCE_DATA_UPDATED" />
			<xsd:enumeration value="FLIGHT_TYPE_REFERENCE_DATA_UPDATED" />
			<xsd:enumeration value="AC_TYPE_REFERENCE_DATA_UPDATED" />
			<xsd:enumeration value="KSMS_STATUS_REFERENCE_DATA_UPDATED" />
			<xsd:enumeration value="AWB_REASON_REFERENCE_DATA_UPDATED" />
			<xsd:enumeration value="SUS_REASON_REFERENCE_DATA_UPDATED" />
			<xsd:enumeration value="COC_FAILURE_REASON_REFERENCE_DATA_UPDATED" />
			<xsd:enumeration value="ALT_SECURITY_REASON_REFERENCE_DATA_UPDATED" />
			<xsd:enumeration value="LOAD_MATRIX_REFERENCE_DATA_UPDATED" />
			<xsd:enumeration value="CONTENT_DESC_REFERENCE_DATA_UPDATED" />
			<xsd:enumeration value="COMMODITY_REFERENCE_DATA_UPDATED" />
			<xsd:enumeration value="SLI_REFERENCE_DATA_UPDATED" />
			<xsd:enumeration value="DENSITY_REFERENCE_DATA_UPDATED" />
			<xsd:enumeration value="RE_ROUTE_REFERENCE_DATA_UPDATED" />
			<xsd:enumeration value="ROUTE_RESULT_REFERENCE_DATA_UPDATED" />
			<xsd:enumeration value="SECONDARY_SECURITY_REFERENCE_DATA_UPDATED" />
			<xsd:enumeration value="SCREENING_METHOD_REFERENCE_DATA_UPDATED" />
			<xsd:enumeration value="GLOBAL_MSG_REFERENCE_DATA_UPDATED" />
			<xsd:enumeration value="STATE_NETWORK_REFERENCE_DATA_UPDATED" />
			<xsd:enumeration value="HOTLINKS_REFERENCE_DATA_UPDATED" />
			<xsd:enumeration value="FACILITY_TYPE_REFERENCE_DATA_UPDATED" />
			<xsd:enumeration value="GROUP_TYPE_REFERENCE_DATA_UPDATED" />
			<xsd:enumeration value="GRP_CATEGORY_REFERENCE_DATA_UPDATED" />
			<xsd:enumeration value="FACILITY_RESOURCE_REFERENCE_DATA_UPDATED" />
			<xsd:enumeration value="FOP_REFERENCE_DATA_UPDATED" />
			<xsd:enumeration value="FACILITY_PHONE_REFERENCE_DATA_UPDATED" />
			<xsd:enumeration value="CA_STATES_REFERENCE_DATA_UPDATED" />
			<xsd:enumeration value="US_STATES_REFERENCE_DATA_UPDATED" />
			<xsd:enumeration value="COUNTRY_REFERENCE_DATA_UPDATED" />
			<xsd:enumeration value="DOW_REFERENCE_DATA_UPDATED" />
			<xsd:enumeration value="SERVICE_LEVEL_REFERENCE_DATA_UPDATED" />
			<xsd:enumeration value="CARRIER_REFERENCE_DATA_UPDATED" />
			<xsd:enumeration value="COST_CENTER_REFERENCE_DATA_UPDATED" />
			<xsd:enumeration value="CURRENCY_REFERENCE_DATA_UPDATED" />	
			<xsd:enumeration value="HAWB_CREATE_EVENT" />	
			<xsd:enumeration value="HAWB_DELETE_EVENT" />
			<xsd:enumeration value="HAWB_SHIPMENT_UPDATED" />	
			<xsd:enumeration value="HAWB_SHIPMENT_ADDED" />	
			<xsd:enumeration value="CUSTOMS_CARGOXML_XFFM" />
			<xsd:enumeration value="CUSTOMS_CARGOXML_XFWB" />	
			<xsd:enumeration value="CUSTOMS_CARGOXML_XCSW" />
			<xsd:enumeration value="CUSTOMS_CARGOXML_AWB" />	
			<xsd:enumeration value="CUSTOMS_CARGOXML_HAWB" />	
			<xsd:enumeration value="CUSTOMS_CARGOXML_XCSN" />	
			<xsd:enumeration value="RFS_SCHED_DEF_CREATE_EVENT" />	
			<xsd:enumeration value="RFS_SCHED_DEF_UPDATE_EVENT" />	
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="EventProducer">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="CARGO.CAPACITY_PARAM_MANAGEMENT_SERVICE" />
			<xsd:enumeration value="CARGO.CAPACITY_MANAGEMENT_SERVICE" />
		<xsd:enumeration value="CARGO.FACILITY_SERVICE" />
			<xsd:enumeration value="CARGO.HANDLING_TIME_SERVICE" />
			<xsd:enumeration value="CARGO.RESTRICTION_SERVICE" />
			<xsd:enumeration value="CARGO.LIMITATION_SERVICE" />
			<xsd:enumeration value="CARGO.BOOKING_WINDOW_SERVICE" />
			<xsd:enumeration value="CARGO.AIRWAYBILL_MANAGEMENT_SERVICE" />	
			<xsd:enumeration value="CARGO.ADMIN_EVENT_SERVICE" />	
			<xsd:enumeration value="CARGO.REFERENCE_DATA_EVENT_SERVICE" />	
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="EventConsumer">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="CARGO.EVENT_PUBLISHER_MODULE" />
			<xsd:enumeration value="CARGO.CAPACITY_MANAGEMENT_MODULE" />
			<xsd:enumeration value="CARGO.NOTIFICATIONS_MODULE" />
			<xsd:enumeration value="CARGO.FACILITY_MODULE" />
			<xsd:enumeration value="CARGO.HANDLING_TIME_MODULE" />
			<xsd:enumeration value="CARGO.RESTRICTION_MODULE" />
			<xsd:enumeration value="CARGO.LIMITATION_MODULE" />
			<xsd:enumeration value="CARGO.BOOKING_WINDOW_MODULE" />
			<xsd:enumeration value="CARGO.STOREODSSHIPMENT_MODULE" />
			<xsd:enumeration value="CARGO.ADMIN_MODULE" />
			<xsd:enumeration value="CARGO.REFERENCE_DATA_MODULE" />
		</xsd:restriction>
	</xsd:simpleType>	
		
</xsd:schema>
